/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "scss/colors.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1140px;
  padding: 30px;
}
body {
  color: #ffffff;
}
