:root {
  --active-color: #10b981;
  --warning-color: #ffd700;
  --danger-color: #ff5100;
  --danger-color-dark: #e02323;
}
$active-color: var(--active-color);
$warning-color: var(--warning-color);
$danger-color: var(--danger-color);
$danger-color-dark: var(--danger-color-dark);
